:root {
        --font-primary: "Open Sans", Arial, sans-serif;
        --font-secondary: Montserrat, Arial, sans-serif;

        --color-theme-1-hue: 319;
        --color-theme-1-saturation: 87.21%;
        --color-theme-1-lightness: 42.94%;
        --color-theme-1: hsl(var(--color-theme-1-hue), var(--color-theme-1-saturation), var(--color-theme-1-lightness));

        --color-primary-hue: 0;
        --color-primary-saturation: 0.00%;
        --color-primary-lightness: 13.33%;
        --color-primary: hsl(var(--color-primary-hue), var(--color-primary-saturation), var(--color-primary-lightness));

        --color-secondary-hue: 203;
        --color-secondary-saturation: 13.88%;
        --color-secondary-lightness: 40.98%;
        --color-secondary: hsl(var(--color-secondary-hue), var(--color-secondary-saturation), var(--color-secondary-lightness));

        --color-app-background-hue: 60;
        --color-app-background-saturation: 7.14%;
        --color-app-background-lightness: 94.51%;
        --color-app-background: hsl(var(--color-app-background-hue), var(--color-app-background-saturation), var(--color-app-background-lightness));

        --color-favourite-hue: 51;
        --color-favourite-saturation: 100.00%;
        --color-favourite-lightness: 43.33%;
        --color-favourite: hsl(var(--color-favourite-hue), var(--color-favourite-saturation), var(--color-favourite-lightness));
    }
html { font-family: "Open Sans", Arial, sans-serif; } .font-family-primary { font-family: "Open Sans", Arial, sans-serif; } .apply-flow { font-family: "Open Sans", Arial, sans-serif; } .font-family-secondary { font-family: Montserrat, Arial, sans-serif; } .apply-flow-dialog__button { font-family: Montserrat, Arial, sans-serif; } .apply-flow-block__title { font-family: Montserrat, Arial, sans-serif; } .apply-flow-profile-item-tile__summary-content { font-family: Montserrat, Arial, sans-serif; }